* {
  font-family: "Roboto", sans-serif;
}

.component-overlay {
 
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}
.footer {

  position: relative;
  text-align: center;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 3rem;
  margin: 5rem auto;
  color: rgb(3, 95, 42);
  font-style: italic;
  background-image: linear-gradient(to bottom, white, rgb(24, 96, 179, 0.2));
}
